<footer>
	<div class="viewport viewport--laptop">

		<section class="footer__section section--branding">


			{% include "components/logo.twig" with { 'cssClass' : 'footer__logo' } %}

			{% include "components/nav/nav-footer.twig" %}

			{% include "blocks/block-social.twig" with { 'cssClass' : 'block--footer' } %}

		</section>

		<section class="footer__section section--credits text--center">


			<p class="footer__disclaimer">{{ __('Właścicielem zdjęć produktów jest KOTYL. Wykorzystanie i powielanie materiałów znajdujących się na stronach kotyl.eu jest zabronione. Strona korzysta z informacji przechowywanych w plikach cookies w celach funkcjonalnych oraz statystycznych.')}}</p>

			<p class="footer__credits">
				{{ __('Projekt i realizacja')}}:
				<a href="//futuresystems.pl" title="{{ __('Sklepy i strony internetowe Gliwice')}}">{{ __('agencja reklamowa')}}</a>
				<a href="//futuresystems.pl" title="{{ __('Projektowanie i wdrażanie systemów e-commerce')}}">futuresystems.pl</a>
			</p>

		</section>


	</div>
	<!-- /viewport -->


</footer>
